{{!-- <h1>Cats!</h1>

<h2>Cats that are not sleepy!</h2>



<h2>Cats that are sleepy!</h2>



<h2>Add a Cat</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Add Burger Name:</label>
    <input type="text" id="ca" name="name">
    <button type="submit">Add Burger</button>
  </div>
</form>
<div class="col-md-3" >
  {{#each burger_data}}
    {{#unless this.devoured}}
      <div class="col-md-9">
        {{this.id}} . {{this.burger_name}}
        <button class="devour-from">devour</button>
      </div>
    {{/unless}}
  {{/each}}

</div>
<div class="col-md-3" >
  {{#each burger_data}}
    {{#if this.devoured}}
      <div class="col-md-9">
        {{this.id}} . {{this.burger_name}}
      </div>
    {{/if}}
  {{/each}}

</div> --}}

<h1>Eat-Da-Burger!</h1>

<main>
  <div class="container">
    <div class="row">
      <div class="col s6">
        {{#each burgers}}
          {{#unless this.devoured}}
            <div>
              {{!-- <form action="/burgers" method="POST"> --}}
              <h2>{{this.burger_name}}</h2>
                <button class='devour-from' data-id="{{id}}">Devour </button>
              {{!-- </form> --}}
            </div>
          {{/unless}}
        {{/each}}
      </div>

      <div class="col s6">
        <h1>Devoured</h1>
        {{#each burgers}}
          {{#if this.devoured}}
            <div class='burgerEaten'>
              <div>
                <h2>{{this.burger_name}}</h2>
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</main>

<h2>Add A Burger Option</h2>

<div class="row">
  <div class="col s12">
    <form action="/burgers" method="POST">
      <input type="text" id="name" name="burger_name" placeholder="Uber Delicious Burger">
      <button type="submit" class="addBurgerButton">Add The Burger</button>
    </form>
  </div>
</div>