<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="text-center">
        <h1>Eat-Da-Burger!</h1>
      </div>
    </div>
  </div>
  <img class="mx-auto d-block" src="burger.png" alt="burger picture">


</div>

<main>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="float-left">
          <h2 class="top-heading">Not Eaten</h2>
          {{#each burgers}}
          {{#unless this.devoured}}
          <div>
            {{!-- <form action="/burgers" method="POST"> --}}
            <div class="row">
              <div class="col 6">
               
                  <h3>{{this.id}}.{{this.burger_name}}</h3>
              
              </div>
              <div class="col 6">
                <button class='devour-from' data-id="{{id}}">Devour </button>
                {{!-- </form> --}}
              </div>
            </div>
          </div>
          {{/unless}}
          {{/each}}
        </div>
      </div>

      <div class="col-md-3">
        <div class="float-left">
          
          <h2 class="top-heading">Devoured</h2>
          {{#each burgers}}
          {{#if this.devoured}}
          <div class='burgerEaten'>
            <div>
              
              <h3>{{this.id}}.{{this.burger_name}}</h3>
              
            </div>
          </div>
          {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</main>

<div class="container">
  <div class="card">
    <h2>Add A Burger</h2>

    <div class="row">
      <div class="col s12">
        <form action="/burgers" method="POST">
          <input type="text" id="name" name="burger_name" placeholder="Your Burger">
          <button type="submit" class="addBurgerButton">Add The Burger</button>
        </form>
      </div>
    </div>
  </div>
</div>